{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items  %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.product.discounted_price}} </p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold"> Total Cost + Tk.70 = {{total_amount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
      {% for ad  in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}}, {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custid{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
       {% endfor %}
       <div class="p-2 w-full">
        <div class="d-grid gap-3">
        
        <button type="submit" class="btn btn-primary px-5 fw-bold ">Cash On delvery</button>
       </div>
      </div>



       
        <div class="text-end">
           
          <div id="paypal-button-container"></div>
          
        </div>
      </form>
      <form method="POST" action="{% url 'donate' %}">
        {% csrf_token %}
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full">
            
          <div class="p-2 w-full">
            <div class="d-grid gap-2">
            <button class="btn btn-warning mt-3 px-5 fw-bold">SSL Payment Option </button>
            </dib>
          </div> 
     </div>
   </form>
    </div>    
  </div>
</div>
{% endblock main-content %}



{% block payment-gateway %}
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>
        
        paypal.Buttons({

            
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{total_amount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                    document.getElementById("myform").submit();

                    
                  });
                }
    
    
            }).render('#paypal-button-container');
    </script>
{% endblock payment-gateway %}