{% extends 'app/base.html' %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
  
  
  {% for i in product %} 

  <a href="{% url 'product-detail' i.id %}" class="btn"><div class="item"><img src="{{i.product_image.url}}" alt="" height="200px"><span class="fw-bold">{{i.title}}</span><br><span class="fs-5">BDT.{{i.discounted_price}}</span></div></a>
  
  {% endfor %}
  
 </div>
</div>
<!-- End 1st Product Slider -->


{% endblock main-content %}